body {
    background-color: rgb(233, 233, 209);
}


tr {
    background-color: burlywood;
    color: brown;
    margin: 0 0 8px 0;
}

img {
    width: 100px;
    height: 100px;
    object-fit: fill;
    color: brown;
  }

a {
    background-color:bisque;
    color:brown;
    margin: 4px;
    border: 1px dotted brown;
}

p {
    color:brown;
    border: 1px dashed brown;
}

#entrada {
    background-color: chocolate;
    color:rgb(233, 233, 209);
}

h2 {
    color:brown;
}
