body {
    background-color: rgb(233, 233, 209);
}

table {
    margin: 0 auto;
    border: 1px solid chocolate;
}

tr {
    text-align: center;
    background-color: burlywood;
    color: brown;
    margin: 0 0 8px 0;
}

img {
    width: 100px;
    height: 80px;
    color: brown;
  }

a {
    background-color:bisque;
    color:brown;
    margin: 4px;
    border: 1px solid brown;
}

p {
    background-color: chocolate;
    color: wheat;
}

#entrada {
    background-color: chocolate;
    color:rgb(233, 233, 209);
}

h2 {
    text-align: center;
    color: brown;
    background-color: burlywood;
}

#logos-rede {
    width: 120px;
    height: 40px;
    margin-top: 16px;
    border: 1px dashed burlywood;
}

div {
    text-align: center;
}
